<div class="panel panel-success" id="landingScreen">
    <div class="panel-heading">
        <h2 class="text-center">
            Herzlich Willkommen<br> beim FIFA Turnierplaner
        </h2>
    </div>
    <div class="panel-body welcomeContent">

        <h2>
            Was kann die Anwendung
        </h2>
        <ul>
            <li>
                Registrierung innerhalb einer Minute
            </li>
            <li>
                Plane Plattform unabhängige Turniere
            </li>
            <li>
                Die Statistik von deinen Mannschaften wird gespeichert und ist nicht nur für ein Turnier da
            </li>
            <li>
                Spiele gegen dich selber werden nicht gewertet
            </li>
            <li>
                Freundschaftsmanagement
            </li>
            <li>
                Ein Turnier kann auch ohne Anmeldung durch einen Link allen angezeigt werden
            </li>
            <li>
                Gruppen mit KO Runde, nur Liga oder nur KO Turniere sind möglich
            </li>
        </ul>
    </div>
</div>